@import url('https://fonts.googleapis.com/css?family=Barlow');
* {
  margin: 0;
  padding:0; 
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#01001d 0%, rgb(20, 10, 168) 30%, rgb(6, 6, 68) 100%);
  gap: 20px;
  overflow: hidden;
  position: relative;
  height: 100vh;
  }

  body::before {
    content: "";
    background-image: url('img/binarios.png');
    background-size: cover; 
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


/* Flips */
  .flip1,
  .flip2,
  .flip3 {
    position: fixed;
    width: 350px;
    height: 450px;
  }


  /* CARD 1 */
  .container{
  position: relative;
  width: 350px;
  height: 450px;
}

.container:hover .flip {
  transform: rotateY(180deg);
  align-self: flex-end;
}

.flip {
   position:absolute;
   width: 100%;
   height: 100%;
   cursor: pointer;
   transform-style: preserve-3d;
   transition: .5s;
}

.front,.back {
  position: absolute;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  top:50px;
  box-shadow: inset 0 0 20px rgba(14, 10, 14, 0.348), 0px 0px 30px #05017082, 0px 2px 50px rgb(0, 0, 0);
  backface-visibility: hidden;
}

.front {
  background-image: url('img/fotos/pc.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 0px 30px #0000001b, 0px 0px 20px rgba(0, 0, 0, 0.579);


}
  p {
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;


  }
  
  .back {
    background:linear-gradient(#ff2277,rgb(255, 85, 0)) ;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content:center;
    font-family:'Armata', sans-serif;
    font-weight: bold;
  }

.back p {
  font-size: 25px;
  color: #ffe7e7;
  font-weight: bold;
  text-align: center;
}


/* CARD 2 */
.container2{
  position: relative;
  width: 350px;
  height: 450px;
}

.container2:hover .flip2{
  transform: rotateY(180deg);
}

.flip2 {
   position:absolute;
   width: 100%;
   height: 100%;
   cursor: pointer;
   transform-style: preserve-3d;
   transition: .5s;
}

.front2,.back2 {
  position: absolute;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  backface-visibility: hidden;
  top: 50px;
  box-shadow: inset 0 0 20px rgba(14, 10, 14, 0.348), 0px 0px 30px #05017082, 0px 2px 50px rgb(0, 0, 0);

}

.front2 {
  background-image: url('img/photo-1681396059172-7532b1ef8b47.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 30px;
  font-weight: bold;
  color: #eeeeee;
  text-shadow: 0px 0px 30px #0000001b, 0px 0px 20px rgba(0, 0, 0, 0.579);
}
.front p {
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
  }

.back2 {
  background:linear-gradient(#ff2277,rgb(255, 85, 0)) ;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: 'Armata', sans-serif;
  font-weight: bold;
}

.back2 p {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}


/* CARD 3 */
.container3 {
  position: relative;
  width: 350px;
  height: 450px;
}

.container3:hover .flip3 {
  transform: rotateY(180deg);
}

.flip3 {
   position:absolute;
   width: 100%;
   height: 100%;
   cursor: pointer;
   transform-style: preserve-3d;
   transition: .5s;
}

.front3,.back3 {
  position: absolute;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  box-shadow: inset 0 0 20px rgba(119, 112, 149, 0.348), 0px 0px 30px #05017082, 0px 2px 50px rgb(0, 0, 0);
  backface-visibility: hidden;
  top: 50px;
}

.front3 {
  background-image: url('img/maps.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 0px 30px #0000001b, 0px 0px 20px rgba(0, 0, 0, 0.579);
}
  .front p {
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    text-shadow:10px 0 4px #000000;

  }

  .back3 {
    background:linear-gradient(#ff2277,rgb(255, 85, 0)) ;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content:center;
    font-family:'Armata', sans-serif;
    font-weight: bold;
  }

.back3 p {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}


/* MENU DE NAVEGAÇÃO */
.menu {
  display: flex;
  font-family: 'Barlow', sans-serif;
  width: 100vw;
  position: fixed;
  top: 10px;
  left: 45px;
  z-index: 2;
}

.Home {
  color: #cddfff;
   text-decoration: none;
   font-size: 1.9vw;
  padding: 10px; 
  margin: 10px; 
  margin-right: 50px;
}



.Home:hover {
  color: #ff0266;
  transition: all 0.3s ease;
  transform: scale(1.1);
  border-radius: 10px;
}
